<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aprendizajeactivo.app_comunity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MainActivity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden">
        <activity
            android:name=".SplashScreem"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="HomePrincipal.HomePage"
            android:label="@string/title_activity_home_page" />
        <activity
            android:name="Induccion.Induccion"
            android:label="@string/title_activity_induccion"
            android:theme="@style/AppTheme" />
        <activity
            android:name="Instructivo.Instructivo"
            android:label="@string/title_activity_instructivo"
            android:theme="@style/AppTheme" />
        <activity android:name="HomePrincipal.AgregarCalendar" />
        <activity android:name=".AgregarForoU" />
        <activity android:name=".ForoItem"></activity>
    </application>

</manifest>